@font-face {
    font-family: 'dm-mono';
    src: url('assets/dm.ttf')
}

@font-face {
    font-family: 'dm-mono-bold';
    src: url('assets/dm-bold.ttf');
}

@font-face {
    font-family: 'dm-mono-italic';
    src: url('assets/dm-italic.ttf');
}

:root {
    --primary-color: #FABF10;
    --secondary-color: #512BD4;
    --dark-color: rgb(15, 15, 15);
    --overlay-color: rgba(255, 255, 255, .2);
    --overlay-hover-color: rgb(255, 255, 255, .4);
    --light-color: #fcfcfc;
    --light-hover-color: rgb(255, 255, 255);
}

html {
    background-color: black;
    font-family: 'dm-mono';
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
header {
    background-color: var(--secondary-color);
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    height: 64px;
}
footer {
    background-color: rgb(15, 15, 15);
    display: flex;
    position: relative;
    justify-content: center;
    align-content: ;
    width: 100%;
    min-height: 48px;
    height: 100%;
}
h1 {
    font-size: 36px;
    align-self: center; 
    background-color: var(--light-hover-color); 
    color: var(--dark-color); 
    width: min-content;
    min-width: 240px;
    padding-inline: 1rem;
    justify-self: center;
    border-radius: 8px;
    text-align: center;
    text-wrap: balance;
    margin: 0px;
}
h2  {
    font-size: 18px;
    padding-inline: 1rem;
    font-family: 'dm-mono-bold';
    margin: 0px;
    justify-self: center;
    text-wrap: balance;
    text-align: center;
    color: var(--dark-color);
    text-shadow: 0px 0px 2px #00000060;
}
h3 {
    font-size: 18px;
    width: fit-content; 
    height: auto; 
    padding-inline: 1.5rem; 
    padding-block: 0.5rem;
    margin-block: 0.5rem;
    text-align: left; 
    border-radius: 8px; 
    background-color: var(--primary-color); 
    color: var(--dark-color);
}
h4 {
    font-size: 14px;
    margin: 0px;
    padding-block: 0px;
    padding-left: .5rem;
    align-self: center;
    font-family: 'dm-mono';
    color: var(--light-color);
}
h5 {
    font-size: 18px;
    font-family: 'dm-mono';
    color: var(--dark-color);
}
h6 {
    grid-column: 2;
}
.h7 {
    align-self: center;
    position: absolute;
    color: var(--light-color);
    left: 50%;
    transform:translate(-50%, 0%);
    font-family: 'dm-mono';
}
p {
    align-self: center;
    color: var(--light-color);
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    line-height: 18px;
    text-wrap: pretty;
}
span {
    align-self: center;
    color: var(--light-color);
    font-size: 14px;
    margin: 0px;
}
ul {
    align-self: center;
    color: var(--light-color);
    font-size: 14px;
}
a {
    align-self: center;
    text-decoration: none;
    color: var(--light-color);
}
button {
    cursor: pointer;
}
svg {
    margin: 0;
    padding: 0;
}


.header-center {
    align-self: center;
    position: absolute;
    left: 50%;
    transform:translate(-60%, 0%);
    width: auto; 
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;

}

.slippi-icon-img {
    grid-column: 0;
    width: 36px;
    margin-right: 12px;
}

.slippi-svg {
    grid-column: 0;
    padding-right: 12px;
}

.fillerdiv {
    height: 100%;
    width: 100%;
    position:relative;
    bottom: auto;
    z-index: -100;
    background-color: var(--secondary-color);
}

.info-img {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.info-column-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: auto;
    place-self: center;
    place-content: center;
    gap: 24px;
    margin-bottom: 48px;
}

.maindiv {
    flex-grow: 0;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    gap: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.mainbgimage {
    position: absolute;
    z-index: -10;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 200px;
}

.maincontainer {
    width: 80%;
    max-width: 960px;
    height: auto;
    position: absolute;
    justify-self: center;
    align-self: center;
    gap: 0px;
    margin: 12px;
    padding-top: 36px;
    padding-bottom: 12px;
    display: grid;
    column-span: 1;
    grid-template-columns: repeat(1,1fr);
    place-content: center;
    place-self: center;
}

.container {
    width: 80%;
    max-width: 960px;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    place-content: center;
    place-self: center;
}

.download-container{
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
    width: 100%;
}

.infodiv {
    background-color: var(--dark-color);
    width: 100%;
    place-self: center;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
    position: relative;
    padding-block: 12px;
    place-content: center;
    justify-content: center;
}

.github-info {
    background-color: var(--secondary-color);
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-content: center;
    position: relative;
    padding-block: 12px;
    align-self: center;
    gap: 0px;
}

.github-info-p {
    grid-row: 2;
    grid-column: 1;
    text-wrap: balance;
    text-align: center;
}

.info-item {
    height: auto;
    width: 100%;
    display: grid;
    padding: 8px;
    background-color: #FFFFFF10;
    border-radius: 12px;
    gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
    justify-content: center;
    justify-items: center;
}
.info-item-header{
    display: flex;
    flex-direction: row;
    margin-block: 8px;
    justify-self: start;
    justify-content: center;
    align-items: center;
    height: fit-content;
    grid-row: 0;
}

.github-info-header{
    display: flex;
    flex-direction: row;
    margin-block: 8px;
    align-items: center;
    grid-row: 0;
    grid-column: 0;
}

.updatesdiv {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
}
.patch-container {
    width: auto; 
    height: fit-content; 
    align-self: center;
    background-color: var(--overlay-color);
    padding-block: 0.75rem;
    padding-inline: 1rem;
    margin-block: 0.5rem;
    border-radius: 8px;
}

.header-button {
    width: auto;
    height: 36px;
    justify-content: center;
    justify-self: end;
    position: relative;
    margin: 14px;
    padding-inline: 1rem;
    padding-bottom: 2px;;
    background-color: var(--overlay-color);
    border: none;
    border-radius: 8px;
}
:hover.header-button{
    scale: .95;
}

.header-button:hover {
    width: auto;
    height: 36px;
    justify-content: center;
    justify-self: end;
    position: relative;
    margin: 14px;
    padding-inline: 1rem;
    background-color: var(--overlay-hover-color);
    border: none;
    border-radius: 8px;
}
.dButton {
    align-self: center;
    position: relative;
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: var(--light-color);
    width: 100%; 
    height: 3rem; 
    border-radius: 8px; 
    border: none; 
    margin-block: 4px;
    padding-inline: 12px;
}
.dButton:hover {
    align-self: center;
    position: relative;
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: var(--light-hover-color);
    width: 100%; 
    height: 3rem; 
    border-radius: 8px; 
    border: none; 
    margin-block: 4px;
    scale: .97;
    cursor: pointer;
}

.info-bottom-div {
    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 0px;
    width: auto;
    height: fit-content;
    padding: 0px;
    margin: 0px;
}

.dContainer{
    max-width: 960px; 
    width: 80%; 
    height: fit-content; 
    align-self: center; 
    padding-block: 12px; 
    justify-self: center;
}

.linktext {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px
}
.ptext {
    align-self: center;
    color: white;
}
.hbutton-text {
    font-family: 'dm-mono-bold';
    align-self: center;
}

@media screen and (min-width:961px) {
    h2 {
        font-size: 24px;
    }
    h1 {
        font-size: 48px;
        width: auto;
    }
    .info-column-div {
        grid-template-columns: repeat(2, 1fr);
    }
    .image {
        width: auto;
    }
    .maindiv {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .info-items {
        gap: 48px;
    }
    .updatesdiv {
        padding-top: 48px;
        padding-bottom: 24px;
    }
    .download-container {
        padding-block: 32px;
    }
    .infodiv {
        padding-top: 12px;
        padding-bottom: 48px;
    }

    .header-center {
        transform:translate(-50%, 0%);
    }

    .dContainer{
        max-width: 720px; 
        width: 80%;
    }

    .info-column-div {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 48px;
    padding: 0px;
    margin: 0px;
}
}