@font-face {
    font-family: 'dm-mono';
    src: url('assets/dm.ttf')
}

@font-face {
    font-family: 'dm-mono-bold';
    src: url('assets/dm-bold.ttf');
}

@font-face {
    font-family: 'dm-mono-italic';
    src: url('assets/dm-italic.ttf');
}

:root {
    --primary-color: #FABF10;
    --secondary-color: #512BD4;
    --dark-color: rgb(15, 15, 15);
    --overlay-color: rgba(255, 255, 255, .2);
    --overlay-hover-color: rgb(255, 255, 255, .4);
    --light-color: #fcfcfc;
    --light-hover-color: rgb(255, 255, 255);
}

/* ---------------------------------------------------------------------- */

html {
    background-color: black;
    font-family: 'dm-mono';
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
header {
    background-color: var(--secondary-color);
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    height: 64px;
}
footer {
    background-color: rgb(15, 15, 15);
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 48px;
    height: 100%;
}
h1 {
    font-size: 24px;
    align-self: center; 
    background-color: var(--light-hover-color); 
    color: var(--dark-color); 
    width: 80%;
    max-width: 960px;
    padding-inline: 1rem;
    justify-self: center;
    border-radius: 8px;
    text-align: center;
    text-wrap: balance;
    margin: 0px;
}
h2  {
    font-size: 14px;
    padding-inline: 1rem;
    font-family: 'dm-mono-bold';
    margin: 0px;
    justify-self: center;
    text-wrap: balance;
    text-align: center;
    color: var(--dark-color);
    text-shadow: 0px 0px 2px #00000020;
}
h3 {
    font-size: 18px;
    width: fit-content; 
    height: auto; 
    padding-block: 0.75rem;
    padding-inline: 1rem;
    margin-bottom: 12px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left; 
    border-radius: 8px; 
    justify-self: start;
    background-color: var(--primary-color); 
    color: var(--dark-color);
}
h4 {
    font-size: 18px;
    margin: 0px;
    padding-block: 0px;
    padding-left: .5rem;
    align-self: flex-start;
    text-wrap: pretty;
    font-family: 'dm-mono';
    color: var(--light-color);
}
h5 {
    font-size: 14px;
    font-family: 'dm-mono';
    color: var(--dark-color);
}
h6 {
    font-size: 12px;
}
.h7 {
    align-self: center;
    position: absolute;
    color: var(--light-color);
    left: 50%;
    transform:translate(-50%, 0%);
    font-family: 'dm-mono';
}
p {
    align-self: flex-start;
    color: var(--light-color);
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    line-height: 1.25em;
    text-wrap: justify;
}
span {
    align-self: center;
    color: var(--light-color);
    font-size: 14px;
    margin: 0px;
}
ul {
    align-self: flex-start;
    color: var(--light-color);
    font-size: 14px;
}
a {
    align-self: center;
    text-decoration: none;
    color: var(--light-color);
}
button {
    cursor: pointer;
}
svg {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------- */

.header-center {
    align-self: center;
    position: absolute;
    left: 50%;
    transform:translate(-60%, 0%);
    width: auto; 
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
}

.header-button {
    width: auto;
    height: 18px;
    font-size: 8px;
    justify-content: center;
    justify-self: end;
    position: relative;
    margin: 6px;
    padding-inline: .5rem;
    padding-bottom: 1px;
    background-color: var(--overlay-color);
    border: none;
    border-radius: 6px;
}

:hover.header-button{
    scale: .95;
    background-color: var(--overlay-hover-color);
}

.hbutton-text {
    font-family: 'dm-mono-bold';
    align-self: center;
}

.slippi-icon-img {
    grid-column: 0;
    width: 24px;
    margin-right: 8px;
}

/* ---------------------------------------------------------------------- */

.maindiv {
    width: 100%;
    height: auto;
    display: flex;
    gap: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-image: url('assets/slippitv-main-bg-img.png');
    background-position: top;
    background-size: cover;
    justify-content: center;
    justify-items: center;
}

.maincontainer {
    width: 60%;
    max-width: 960px;
    position: relative;
    justify-self: center;
    align-self: center;
    gap: 0px;
    margin: 12px;
    padding-top: 36px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-self: center;
}

/* ---------------------------------------------------------------------- */

.download-container{
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 0px;
    width: auto;
}


.dButton {
    align-self: center;
    position: relative;
    display: flex;
    justify-content: center;
    justify-self: center;
    text-align: center;
    background-color: var(--light-color);
    width: 60%;
    max-width: 960px;
    height: 3rem; 
    border-radius: 8px; 
    border: none; 
    margin-top: 16px;
    margin-bottom: 4px;
    padding-inline: 12px;
}

.dButton:hover {
    scale: .97;
    cursor: pointer;
}

/* ---------------------------------------------------------------------- */

.main-info-div {
    background-color: var(--dark-color);
    width: 100%;
    place-self: center;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
    position: relative;
    padding-block: 12px;
    place-content: center;
    justify-content: center;
    justify-self: center;
}

.info-container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    place-self: center;
}

.info-img {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    width: 100%;
    max-width: 512px;
    height: auto;
    margin-bottom: 12px;
    place-self: center;
}

.info-column-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
    max-width: 1280px;
    place-self: center;
    place-content: center;
    gap: 0px;
    margin-block: 6px;
}

.info-col1-div {
    height: auto;
    width: 90%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.info-col2-div {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 12px;
    gap: 16px;
    place-self: center;
    justify-content: center;
    justify-items: center;
}

.info-item-header{
    display: flex;
    flex-direction: row;
    margin-block: 8px;
    justify-self: start;
    justify-content: center;
    align-items: center;
    height: fit-content;
    grid-row: 0;
}

.info-text-div {
    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 0px;
    width: 90%;
    height: fit-content;
    place-self: center;
    padding: 0px;
    margin: 0px;
}

/* ---------------------------------------------------------------------- */

.main-updates-div {
    background-color: var(--secondary-color);
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-block: 24px;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
}

.update-container {
    width: 80%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    place-self: center;
}


.github-info {
    background-color: var(--secondary-color);
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-content: center;
    position: relative;
    padding-top: 12px;
    align-self: center;
    gap: 8px;
}

.github-info-p {
    grid-row: 2;
    grid-column: 1;
    text-wrap: balance;
    text-align: center;
    margin-top: 0px;
}

.patch-container {
    width: 100%; 
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    justify-content: start;
    background-color: var(--overlay-color);
    padding-block: 0.75rem;
    padding-inline: 1rem;
    margin-block: 0.5rem;
    margin-inline: 0px;
    border-radius: 8px;
}

.patch-container > ul > li {
    margin-top: 0.5em;
    font-family: sans-serif;
}

.github-info-header{
    display: flex;
    flex-direction: row;
    align-content: center;
    grid-row: 0;
    grid-column: 0;
}

/* ---------------------------------------------------------------------- */

.linktext {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px
}
.ptext {
    align-self: center;
    color: white;
}

/* ---------------------------------------------------------------------- */


@media screen and (min-width:921px) {
    h1 {
        font-size: 48px;
        width: auto;
        padding: 12px;
        margin: 0px;
    }

    h2 {
        font-size: 24px;
        width: auto;
        padding: 0px;
        margin: 0px;
        text-shadow: 0px 0px 2px #00000050;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
        text-wrap: pretty;
    }

    .image {
        width: auto;
    }

    .header-button {
        width: auto;
        height: 36px;
        font-size: 14px;
        margin: 12px;
        padding-inline: 1rem;
        padding-bottom: 2px;
        border-radius: 8px;
    }

    .header-center {
        transform:translate(-50%, 0%);
    }

    .slippi-icon-img {
        grid-column: 0;
        width: 36px;
        margin-right: 12px;
    }

    .maindiv {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .download-container {
        padding-block: 6px;
    }

    .dContainer {
        max-width: 720px; 
        width: 80%;
    }

    .info-column-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 36px;
    }

    .info-col1-div {
        justify-self: end;
        width: fit-content;
    }

    .info-col2-div {
        gap: 72px;
        width: 100%;
    }

    .info-img {
        place-self: end;
    }

    .info-text-div {
        place-self: start;
    }

    .main-updates-div {
        padding-block: 36px;
    }

    .updatesdiv {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    .github-info {
        gap: 0px;
    }

    .github-info-p {
        margin-top: 6px;
    }


}